:root{
    --bodybg : linear-gradient(180deg, #1C3131 0%, #1F1F25 100%);
    --white : #ffffff;
    --black : #1F1F25;
    --button1_fill : linear-gradient(270deg, #029C8D 0%, #10C6B4 100%);
    --button1_hover : linear-gradient(90deg, #FFF 0%, #E5E5E5 100%);
    --button2_fill : linear-gradient(270deg, #019EF5 0%, #00C2AF 100%);
    --button2_hover : linear-gradient(90deg, #4EC1F9 0%, #01A1EF 100%);
    --grey: #B6B6B6;
    --star: #D4AF37;

    /* FONTS */
    --body : 16px;
    --subtitle : 28px;
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: var(--black);
    display: flex;
    width: 1280px;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
}

header{
    position: fixed;
    align-self: center;
    top: 34px;
    margin: 0 auto;
    width: 1200px;
    border-radius: 92px;
    border: 1px solid #858585;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(153, 153, 153, 0.07) 100%);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(8.050000190734863px);
}

.navlogo{
    width: 94px;
height: 39px;
}


ul{
    list-style: none;
    display: flex;
padding: 8.883px 26.649px;
justify-content: center;
align-items: center;
gap: 12.436px;

}

li{
    display: flex;
padding: 8.883px 26.649px;
justify-content: center;
align-items: center;
gap: 12.436px;
border-radius: 46.014px;
transition: all 300ms ease;
}

.selected{

background: var(--button1_fill);
box-shadow: 0 1.777px 10.127px 0 rgba(0, 0, 0, 0.09);

}

.selected a{
    font-weight: 600 !important;
    text-decoration-line: none !important;
}

li:hover{
    background: var(--button1_fill);
box-shadow: 0 1.777px 10.127px 0 rgba(0, 0, 0, 0.09);
}

li:hover a{
    font-weight: 600 !important;
    text-decoration-line: none !important;
}

li a{
    color: var(--white);
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: 2%; /* 0.34px */
text-underline-offset: 50%; /* 8.5px */
text-underline-position: from-font;
text-transform: uppercase;
transition: all 300ms ease;
}
nav{
    display: flex;
    padding: 20px 43px;
    justify-content: space-between;
    align-items: center;
}

#searchbar{
    all: unset;
}

input[type="text"]::placeholder{
    color: var(--grey, #B6B6B6);
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 200;
line-height: normal;
}

.search{
    display: flex;
    height: 47px;
padding: 14px 23px;
align-items: center;
gap: 133px;
border-radius: 38px;
background: rgba(31, 49, 49, 0.52);
}

#section1_details{
    display: flex;
    height: 720px;
    padding: 91px 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background-image: url(img/Gradient\ Mask\ Group.png);
}

.starrate{
        display: flex;
    height: 24px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-right: 1px solid var(--white, #FFF);
    color: var(--white, #FFF);
leading-trim: both;
text-edge: cap;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; /* 150% */
letter-spacing: -0.312px;
}

#moviedetails{
    display: flex;
width: 659px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 28px;
}

.genre_det{
    display: flex;
padding: 6.987px;
justify-content: center;
align-items: center;
gap: 6.987px;
border-radius: 32.84px;
border: 0.699px solid var(--white, #FFF);
color: var(--white, #FFF);
font-family: "Roboto";
font-size: 9.782px;
font-style: normal;
font-weight: 400;
line-height: 13.974px; /* 142.857% */
letter-spacing: -0.105px;
}

#moviedetails h1{
    color: var(--white, #FFF);
leading-trim: both;
text-edge: cap;
font-family: "Stack Sans Headline";
font-size: 131.854px;
font-style: normal;
font-weight: 600;
line-height: 92px;
}

.deetsrat{
    display: flex;
align-items: center;
gap: 25px;
}

#moviedetails p{
    color: var(--white, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
letter-spacing: -0.312px;
}

.watchnow{
    display: flex;
padding: 11.102px 22.203px;
justify-content: center;
align-items: center;
gap: 12.688px;
border-radius: 57.094px;
background:  var(--button2_fill);
color: var(--white, #FFF);
font-family: "Roboto";
font-size: 22.203px;
font-style: normal;
font-weight: 400;
line-height: 31.719px; /* 142.857% */
letter-spacing: -0.239px;
transition: all 300ms ease;
cursor: pointer;
}

.watchnow:hover{
    background:  var(--button2_hover);
    font-weight: 500;
    
}
/* //lamar// */
.container {
    padding: 200px 30px;
    width: 1200px;
    height: 470px;
}

h1 {

    font-size: var(--subtitle);
    font-weight: 400;
    margin-bottom: 30px;
    color: var(--white);
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.movie-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
   
width: 220px;
flex-direction: column;
align-items: flex-start;
gap: 28px;
}
.movie-card img{
    height: 330px;
    width: 220px;
}
.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.movie-title {

    font-size: var(--body);
    font-weight: 400;
    color: var(--white);
}